{% extends 'base.html' %}


{%block content%}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Checkout</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Review</p>
                </div>
            </div>
            <br/>

        </header>
        
        <div class="container">
                <div class="row" >
                    <div class="col-8">
                        
                        <div class="card">
                            <div class="card-header">
                              Order Summary
                            </div>
                            <div class="card-body">
                              STUFF
                            </div>
                          </div>

                    </div>
                </div>
            </div>

        <br/>  
        

<br/><br/><br/><br/>

<center>
    <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
    
</center>
<br/><br/><br/>



{% endblock %}